body{
    font-family: Arial;
    background-color:#f2f2f2;
    margin:20px;
}

h1{
    color:green;
    font-size:34px;
}

h2{
    color:darkblue;
}

input,select{
    padding:10px;
    border-radius:6px;
    border:1px solid #ccc;
    width:250px;
}

button{
    padding:10px 20px;
    background-color:#28a745;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background-color:darkgreen;
}

ul{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
}

#welcome{
text-align:center;
font-size:18px;
color:#444;
margin-bottom:20px;
}
footer{
    background-color:green;
    color:white;
    text-align:center;
    padding:12px;
    margin-top:30px;
    font-size:16px;
}
button:hover{
    background-color:#1e7e34;
}
body{
    max-width:900px;
    margin:auto;
    padding:20px;
}
h3{
    margin-top:20px;
}

footer p{
    margin:0;
}

<p id="mealDescription">
Plan your breakfast, lunch, and dinner for the entire week.
</p>
#mealDescription{
    color:#555;
    font-size:15px;
}
#quote{
    font-style:italic;
    color:#008000;
    text-align:center;
    margin-top:15px;
}
